APP_NAME=Autogestion API
APP_VERSION=1.0.0
APP_ENV=development
DOCS_ENABLED=true
FORCE_HTTPS=false
CORS_ALLOW_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CORS_ALLOW_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOW_HEADERS=Authorization,Content-Type,Accept,Origin
CORS_ALLOW_CREDENTIALS=true
ALLOWED_HOSTS=localhost,127.0.0.1

AZURE_AD_CLIENT_ID=
AZURE_AD_TENANT_ID=
# AZURE_AD_REDIRECT_URI=https://zathinker-new-dev.k8s.zatcapture.com/login
AZURE_AD_REDIRECT_URI=http://127.0.0.1:3001/auth/callback
AZURE_AD_CLIENT_SECRET=
AZURE_AD_SCOPES=openid,profile,email
AUTH_SESSION_COOKIE_NAME=autogestion_session
AUTH_COOKIE_SECURE=false
AUTH_TEMP_COOKIE_MAX_AGE=600
